<div class="container" style="max-width: 60%;">
  <div class="row justify-content-md-center">
    <app-category-nav></app-category-nav>
    <div class="container-fluid col" style="width: 40%;">
      <label class="rounded shadow-lg" style="text-align: center; background-color: lightgrey; width: 100%;">{{currentCategory.name}}</label>
      <p></p>
      <div class="card shadow-lg">
        <div class="card-body" style="padding: 0;">
            <div class="row" style="margin: 0 10px 0 10px;">
              <div class="card-deck" *ngFor="let product of currentProductList">
                <div class="card mb-4" style="width: 161px; height: 161px; margin: 25px; cursor: pointer;" [class.shadow]="mouseOver" (mouseover)="shadow='0'" (mouseout)="mouseOver=false" [routerLink]="['/products', product.id]">
                  <img class="card-img-top" src="https://placehold.it/280x140/abc" alt="Card image cap" style="width: 160px; height: 160px;">
                  <div class="centered mx-auto" style="font-size: 0.6em;">{{product.name}}</div>
                </div>
              </div>
            </div>
            <div class="list-group shadow-lg" *ngFor="let product of currentProductList">
              <a class="list-group-item list-group-item-action" [routerLink]="['/products', product.id]">
                {{product.name}}
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





