<div class="container" style="max-width: 60%;">
  <div class="row justify-content-md-center">
    <app-category-nav></app-category-nav>
    <div class="container-fluid col" style="width: 40%;">
      <label class="rounded shadow-lg" style="text-align: center; background-color: lightgrey; width: 100%;">{{currentCategory.name}}</label>
      <p></p>
      <div class="card shadow-lg">
        <div class="card-body">
            <div class="list-group shadow-lg" *ngFor="let product of currentProductList">
              <a class="list-group-item list-group-item-action" [routerLink]="['/products', product.id]">
                {{product.name}}
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





